@import "tailwindcss";

@theme inline {
  --color-primary: #002045;
  --color-primary-container: #1a365d;
  --color-secondary: #006e2e;
  --color-secondary-fixed-dim: #79db8a;
  --color-surface: #f8f9fe;
  --color-surface-container-low: #f2f3f9;
  --color-on-background: #191c20;
  --color-on-surface-variant: #43474e;
  --color-outline-variant: #c4c6cf;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-background);
}

::selection {
  background-color: #94f8a3;
  color: #007431;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 24;
}
